[run]
omit =
    */tests/*
    cubed/array_api/*
    cubed/diagnostics/memray.py
    cubed/icechunk.py
    cubed/runtime/executors/beam.py
    cubed/runtime/executors/coiled.py
    cubed/runtime/executors/dask*.py
    cubed/runtime/executors/lithops.py
    cubed/runtime/executors/modal*.py
    cubed/storage/backends/tensorstore.py
    cubed/storage/backends/zarr_python_v3.py
    cubed/vendor/*
