# This file is redundant with pyproject.toml;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on

aiostream
array-api-compat
mypy_extensions # for rechunker
ndindex
networkx >= 3.3
numpy >= 2
psutil
tenacity
toolz
zarr != 3.1.2
pyspark
