# This file is redundant with pyproject.toml;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on

aiostream
array-api-compat
fsspec
mypy_extensions # for rechunker
networkx < 2.8.3
numpy >= 1.22
tenacity
toolz
zarr
