aiostream
# apache-beam
# dill
fsspec
lithops[aws] >= 2.7.0
mypy_extensions # for rechunker
networkx < 2.8.3 # https://github.com/networkx/networkx/pull/5667
numpy >= 1.22
pydot
pytest
pytest-cov
pytest-mock
# s3fs
tenacity
toolz
tqdm
zarr
