# cubed
aiostream
array-api-compat
mypy_extensions # for rechunker
ndindex
networkx >= 3.3
numpy >= 2
psutil
pydot
pytest
pytest-cov
pytest-mock
tenacity
toolz
tqdm
zarr != 3.1.2
cubed-xarray
xarray
pooch
netCDF4
icechunk
graphviz
jinja2
pandas
matplotlib
rich
seaborn
anywidget

# docs
sphinx-book-theme
sphinx-autobuild
sphinx-design
myst-nb
