name: Modal tests

on:
  schedule:
    # Mon/Wed/Fri at 03:39 UTC, see https://crontab.guru/
    - cron: "39 3 * * 1,3,5"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-modal.txt
          python -m pip install --no-deps -e .
          python -m pip install ${{ secrets.MODAL_WHEEL_URL }}

      - name: Run tests
        run: |
          pytest -vs -k "test_modal.py or modal" --runcloud
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
